body {
    background-image: url('page-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

.logo-section {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden; /* Prevent overflow */
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo video {
    max-width: 100%;
    height: auto;
}

.subsection {
    width: 100%;
    background-color: #000000;
    min-height: 100vh; 
    padding-top: 20px;
    border-top: 20px solid #f4ddb4;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */

}

.grid {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transform: translateY(-30px);
}

.sub-video-box {
    width: 100%;
    background-color: #f4ddb4;
    margin-top: 20px; /* Space between grid and sub-video-box */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    position: relative;
}

.moon {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -105%);
    z-index: 1;
}
.sub-video-box {
    background-color: black;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

.sub-video-box video {
    width: 100%;
    height: auto;
}
.button-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the buttons horizontally */
    width: 100%;
}

.small-buttons {
    display: flex;
    justify-content: center; /* Center the small buttons horizontally */
    margin-bottom: 20px; /* Space between small buttons and big button */
}

.btn span {
    color: #f3e6c0;
    text-decoration: solid;
    font-weight: 200; /* Use font-weight for bold text */
    font-size: 3em;
    font-family: 'Haettenschweiler', sans-serif; /* Ensure font family is properly specified */
}

.btn {
    background-color: #000000;
    margin-top: 42px;
    padding: 0.5em;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    position: relative; /* Change to relative to work with pseudo-elements */
    font-weight: bold;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.btn::after, .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #86380E, rgb(255, 137, 18), black, #C65D22);
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: spin 3s linear infinite;
}

.btn::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.big-btn {
    width: 92%; 
 margin-top: 20px; /* Space between small buttons and big button */
}

.small-btn {
    margin: 60px;
    width: 500px; /* Adjust width as needed */
}